{% extends 'base.html' %}
{% load static %}
<--根目录templates目录下有限访问，采用模板继承，对应app下是完整的页面-->
{% block title %}天天生鲜-首页(根){% endblock title %}
{% block titleFile %}
    <script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/js/slide.js"></script>
{% endblock titleFile %}

{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全部商品分类</h1>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="center_con clearfix">
        <ul class="subnav fl">
            {% for type in goodsType %}
                <li><a href="#model0{{ forloop.counter }}" class="{{ type.logo }}">{{ type.name }}</a></li>
            {% endfor %}
            {#            <li><a href="#model02" class="seafood">海鲜水产</a></li>#}
            {#            <li><a href="#model03" class="meet">猪牛羊肉</a></li>#}
            {#            <li><a href="#model04" class="egg">禽类蛋品</a></li>#}
            {#            <li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>#}
            {#            <li><a href="#model06" class="ice">速冻食品</a></li>#}
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                {% for banner in goodsBanner %}
                    {% comment %}首页轮播商品点击进入对应的商品详情,并且需要商品id的标识{% endcomment %}
                    <li><a href="{% url 'goods:detail' banner.sku.id %}"><img src="{{ banner.imgurl }}" alt="幻灯片"></a></li>
                {% endfor %}
                {#                <li><img src="../static/images/slide02.jpg" alt="幻灯片"></li>#}
                {#                <li><img src="../static/images/slide03.jpg" alt="幻灯片"></li>#}
                {#                <li><img src="../static/images/slide04.jpg" alt="幻灯片"></li>#}
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            {% for banner in promotionBanner %}
                <a href="{{ banner.url }}"><img src="{{ banner.image }}"></a>
            {% endfor %}
            {#            <a href="#"><img src="{% static 'images/adv02.jpg' %}"></a>#}
        </div>
    </div>
    {% for type in goodsType %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model0{{ forloop.counter }}">{{ type.name }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    {% for banner in type.textBanner %}
                        <a href="{% url 'goods:detail' banner.sku.id %}">{{ banner.sku.goodName }}</a>
                    {% endfor %}
                    {#                    <a href="#">加州提子</a>#}
                    {#                    <a href="#">亚马逊牛油果</a>#}
                </div>
                <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ type.AttachFiles.imgUrl }}"></div>
                <ul class="goods_list fl">
                    {% for banner in type.imgBanner %}
                        <li>
                            <h4><a href="{% url 'goods:detail' banner.sku.id %}">{{ banner.sku.goodName }}</a></h4>
                            <a href="{% url 'goods:detail' banner.sku.id %}"><img src="{{ banner.sku.imgGuid.imgUrl }}"></a>
                            <div class="prize">¥ {{ banner.sku.price }}</div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    {% endfor %}

{% endblock body %}

{# 网页底部引入文件块 #}
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/slideshow.js' %}"></script>
    <script type="text/javascript">
        {#BCSlideshow('focuspic');#}
        var oFruit = document.getElementById('fruit_more');
        var oShownum = document.getElementById('show_count');

        var hasorder = localStorage.getItem('order_finish');

        if (hasorder) {
            oShownum.innerHTML = '2';
        }

        oFruit.onclick = function () {
            window.location.href = 'list.html';
        }
    </script>
{% endblock bottomfiles %}
